//COLORS

$black: #000;
$hover_black: #1B1B1B;
$gray_text: rgba(0, 0, 0, 0.5);
$bkg_gray: #f8f9fa;

//FONTS
$roboto: 'Roboto',sans-serif;

//WIDTH


//MOBILE-WIDTH
$mobile-xs: 400px;
$mobile-md: 767px;
$tab-lg: 980px;